name: update cocomanhua keys

on:
  schedule:
    - cron: '0 0/8 * * *'
  workflow_dispatch:

jobs:
  updateKeys:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: main
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: autoBuild
          path: autoBuild

      - uses: actions/cache@v3
        with:
          path: |
            ~/.local/lib/python3.8/site-packages
            ./node_modules
            ~/.cache/puppeteer
          key: ${{ runner.os }}-autoCI-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-autoCI-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/package.json') }}

      - name: install Dependences
        run: |
          npm install
          # pip install -r requirements.txt
      - name: extra keys
        run: |
          source $GITHUB_WORKSPACE/coco/coco.sh
          main
      - name: move keys to ./autoBuild
        run: mv coco_keys.json ./autoBuild

      - name: push changes
        uses: stefanzweifel/git-auto-commit-action@v4.14.1
        with:
          commit_message: 'update cocomanhua keys'
          branch: autoBuild
          repository: ./autoBuild
          file_pattern: coco_keys.json
          skip_checkout: false
          create_branch: true

      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 2
          keep_minimum_runs: 6
